<div class="container mt-5">
  <div class="card">
    <div class="row p-5">
      <div class="col">
        <div>
          <h1 class="HI2">Hi Welcome to my hut</h1>
        </div>
        <div>
          <p class="loremm">Lorem ipsum dolor, sit amet consectetur adipisicing
            elit. Voluptatem quidem esse nam omnis. Nihil, rem optio, fugiat
            dignissimos laudantium nostrum incidunt culpa itaque ipsum
            cupiditate quos praesentium maxime saepe. Numquam.Lorem ipsum dolor,
            sit amet consectetur adipisicing elit. Cupiditate consectetur
            doloremque ea inventore ullam, eaque, harum voluptate vel
            perferendis tempore quod repellendus sapiente. Autem fuga doloremque
            amet, animi ea nobis?Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Esse possimus quia omnis enim officiis ad
            laboriosam ut. Dignissimos esse nesciunt voluptas quasi. Minus, sunt
            incidunt reiciendis omnis aut fugiat distinctio.</p>

        </div>
        <div class="icon">
          <button onclick="contact()" class="contact">contact</button>
          <a href="#" class="download">download CV</a>
          <a><i class="fa-solid fa-download"></i></a>
        </div>
        <div class="grup_icon">
          <a><i
              style="padding-right: 18px;"
              class="fa-brands fa-linkedin ic fa-2xl"
            ></i></a>
          <a><i
              style="padding-right: 18px;"
              class="fa-brands fa-square-instagram ic fa-2xl"
            ></i></a>
          <a><i
              style="padding-right: 18px;"
              class="fa-brands fa-square-facebook ic fa-2xl"
            ></i></a>
          <a><i
              style="padding-right: 18px;"
              class="fa-brands fa-square-twitter ic fa-2xl"
            ></i></a>
        </div>
      </div>
      <div class="col">
        <div class="content-img">
          <!-- card -->
          <div class="img1">
            <div>
              <img
                style="width: 100%; border-radius: 10px 10px 0 0;"
                src="/img/img2.jpg"
              />
            </div>
            <div class="text-center">
              <h3 class="name">NANA</h3>
              <p class="job">Fullstack Developer</p>
            </div>
          </div>
          <!-- card -->
        </div>
      </div>
    </div>
  </div>
</div>