body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to top, #e2e6ea, #ACB6E5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.logo {
  
  margin-bottom: 25px;
  max-height: 80px;
  overflow: hidden;
}


.logo img {
  text-align: center;
  height: 60px;
  width: 80px;
  object-fit: contain;
  display: flex;
  margin: 0 auto;
}


.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 10px 12px;
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

button {
  width: 100%;
  padding: 12px;
  background-color: #ff3714;
  color: white;
  font-weight: 600;
  font-size: 17px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #ec4629;
}

p {
  text-align: center;
  font-size: 14px;
  margin-top: 18px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
