 
  .navbar {
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  
  .logoDW{
    width: 50px;
   }
  

  .contact-button {
    background-color: #0f172a;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .contact-button:active {
    transform: scale(1.1);
  }

  .navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 60px;
  }
  
  .navbar-right{
    padding-right: 70px;
  }
  
  .logo {
    height: 30px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 14px;
  }
  
  .nav-link.active {
    font-weight: bold;
  }

  @media (max-width: 768px) {
 
  .navbar-left, .navbar-right {
    padding: 0 20px;
  }

}