<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/detail.css"> 
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.css">
    
</head>
<body>
  <nav class="navbar">
    <div class="navbar-left">
      <img src="/img/dw-logo.png" class="logoDW" alt="Logo" />
      <a href="/" class="nav-link">Home</a>
      <a href="/myproject.hbs" class="nav-link ">My Project</a>
    </div>
    <div class="navbar-right">
        <a href="/contact">
          <button   class="contact-button">Contact Me</button>
        </a>
    </div>
</nav>
 <div class="container">
  <div class="content">
    <h1 class="title">Dumbways Web App</h1>
    <div class="top-section">
      <div class="left">
        <img src="../img/img-4.jpg" class="image-detail" alt="img-detail" />
      </div>

      <div class="right">
        <h3>Duration</h3>
        <p ><i class="fa-solid fa-calendar-days"></i > <span class="startDate">12 Jan 2022</span> - <span class="endDate">11 Feb 2021</span></p>
        <p><i class="fa-regular fa-clock"></i> <span class="duration">1 month</span></p>

        <h3>Technologies</h3>
        <div class="tech-icons">
    
        </div>
        </div>
      </div>
      <div class="description">
        <p class="description-value">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolorem facilis rem numquam doloremque fuga sapiente sint beatae, consequatur necessitatibus fugit a dolor illum nisi quos aliquam pariatur eveniet earum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident illo vitae tenetur quia dicta aliquam quae laborum nam harum, odit culpa, officiis fugit neque quo numquam quis maxime quam nobis? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, quisquam? Rerum quos saepe sapiente facilis, nulla, vel modi veritatis perspiciatis velit dolore non provident ab enim repellendus itaque magni cumque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, quam. Natus, eveniet fuga sed voluptatem quaerat cumque labore illo assumenda magnam nemo molestiae voluptatum excepturi magni minus velit culpa mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus est nostrum labore nisi numquam minima voluptatem exercitationem, quidem, modi eos perferendis...
        </p>
      </div>
    </div>
 
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  <script src="/js/detailProject.js"></script>
</body>
</html>